body{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
}
.pagina-principal{
    width: 900px;
    max-width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;

}
.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
}
.img{
    width: 200px;
    height: 120px;
    
}
.img-user{
    width: 80px;
    height: auto;

}
.img-libro{
    width: 60px;
    height: auto;

}
h1{
    font-size: 23px;
}
h2{
    text-decoration: underline;
    font-weight: normal;

}
main {
    flex-grow: 1;
}

.secciones{
    margin-bottom: 30px;
}
.ejercicios{
    border: 1px solid black;
    padding: 15px 20px;

}
p{
    font-size: 22px;
}
.campos{
    display: flex;
    margin-bottom: 10px;
    
}

.fila{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 10px;
}
.inputs{
    flex-grow: 1;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
}
.esquerra{
    display: flex;
    flex-direction: space-between;
    gap: 120px;
    width: 90%;

}
.dreta{
    align-items: center;
    width: 10%;
}
footer{
    background-color: rgb(136, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 30px;
    margin: 0 -90px ;
}