@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@theme {
    --color-alba-500: oklch(71.5% 0.143 215.221);
    --font-alba: "Zalando Sans Expanded","Century Gothic";
}

@utility boton {
    border: 1px solid black;
}
@utility encabezado {
    @apply flex flex-col flex-wrap justify-around border bg-amber-100 sm:flex-row;
}

@utility h1{
    @apply text-2xl caret-alba-500 font-alba;
}

@layer components {
    .boton-menu {
        @apply boton;
    }

    .boton-menu:hover {
        font-weight: bolder;
    }
    .header {
        @apply encabezado;
    }   
    .titulo {
        @apply h1;
    }
}



